@import url("https://fonts.googleapis.com/css2?family=Oswald&family=Poppins:wght@400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  list-style-type: none;
}

.navbar {
  max-width: 900px;
  margin: 20px auto;
  display: flex;
  justify-content: space-between;
  font-size: larger;

  h1 {
    color: #e84118;
    font-family: "Oswald", sans-serif;
  }

  .links {
    ul {
      display: flex;
      align-items: center;
      li {
        margin-right: 35px;
        font-weight: 600;
        a {
          color: black;
        }
      }
      .add-button {
        border: 1px solid none;
        padding: 5px 10px;
        border-radius: 15px;
        font-size: 15px;
        background-color: #e84118;
        a {
          color: #fff;
        }
      }
    }
  }
}

//Navbar ends

//Content starts
.content {
  max-width: 850px;
  margin: 44px auto;
}

.blog-preview {
  h1 {
    color: #e84118;
  }
  .blog-box {
    margin: 49px 0;
    padding: 10px;
    h2 {
      margin-bottom: 5px;
    }

    &:hover {
      box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
    }

    button {
      margin-top: 12px;
      font-size: 14px;
      padding: 4px;
      background-color: #e84118;
      border: 1px solid #e84118;
      border-radius: 45px;
      cursor: pointer;
      color: #fff;
    }
  }
}

//blog details start

.blog-details {
  h1 {
    color: #e84118;
  }
  h6 {
    margin: 12px 0;
  }

  p {
    font-size: 22px;
    font-weight: 500;
    &:hover {
      box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
    }
  }

  button {
    float: right;
    margin-top: 12px;
    font-size: 14px;
    padding: 4px;
    background-color: #e84118;
    border: 1px solid #e84118;
    border-radius: 45px;
    cursor: pointer;
    color: #fff;

    &:hover {
      background-color: #a12000;
    }
  }
}

//Add new blog styling

.add-form {
  max-width: 700px;
  margin: 0 auto;
  h1 {
    color: #e84118;
    margin: 30px 0;
  }
  
    label {
      text-align: left;
      display: block;
      
    }
    input,
    select,
    textarea {
        width: 100%;
        padding: 6px 10px;
        margin: 10px 0;
        border: 1px solid #ddd;
        box-sizing: border-box;
        display: block;
    }
  
}
